<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>    
    <services>
      <service name="Auth0_Wcf_Sample.WcfService" behaviorConfiguration="protected">
        <endpoint address="" behaviorConfiguration="Auth0_Wcf_Sample.WcfRestServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Auth0_Wcf_Sample.WcfService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Auth0_Wcf_Sample.WcfRestServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="protected">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Auth0_Wcf_Sample.ValidateJsonWebToken, Wcf-Sample-Net4" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<appSettings>
	  	<!-- 
	  		JsonWebToken configuration
	  	-->
    <add key="jwt:AllowedAudience" value="{CLIENT_ID}" />
    <add key="jwt:SymmetricKey" value="{CLIENT_SECRET}" />
	</appSettings></configuration>
