@{
    ViewBag.Title = "Home Page";
}
@using System.Security.Claims;

<div class="jumbotron">
    <h1>ASP.NET with Auth0 Lock</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    
    <p class="lead">This sample app includes <a href="https://auth0.com/docs/libraries/auth0js/v8" target="_blank" class="alert-link">Auth0.js</a>. Click the button below to try it out and watch for the protected pages you can access through the navbar at the top once you authenticate!</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome, @ViewBag.Name!</p>
        <p><a href="/Home/Logout" class="btn btn-primary btn-lg">Logout</a></p>
    }
    else {
        <p><a href="#" class="btn btn-primary btn-lg" onclick="window.signin();">Login with Auth0</a></p>
    }
</div>
